@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.App {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #bfeff5;
  font-family: 'Roboto', sans-serif;
}

*{
  box-sizing:border-box;
}
